.env
colmap/*
nerf_processed/*
outputs/*
sv_pointcloud_out/*
train/*
training/yolo/10k/images
training/yolo/10k/labels
training/yolo/10k/runs
output
!output/local_panos
!output/detections_map.html
!output/calibration_errors_root.csv
training/yolo/images
training/yolo/labels
training/yolo/runs
.DS_STORE
__pycache__/
*.jpg
*.json
*.png
!output/multi_cam_detections.json
*.mp4
camera_views
v2x-backend-hls-reader-credentials
.venv
logs/