folium==0.20.0
numpy==2.4.6
onnxruntime==1.23.2
open3d==0.19.0
opencv_python==4.10.0.84
Pillow==12.2.0
python-dotenv==1.2.2
PyYAML==6.0.3
Requests==2.34.2
scikit_learn==1.8.0
scipy==1.17.1
skimage==0.0
torch==2.9.1
torchvision==0.24.1
tqdm==4.67.1
ultralytics==8.3.243
